<h1>New event</h1>

<form id="new-event" name="event">
  <div class="field">
    <label for="start_at"> start_at:</label>
    <input type="text" name="start_at" id="start_at" value=<%= start_at %> >
  </div>

  <div class="field">
    <label for="end_at"> end_at:</label>
    <input type="text" name="end_at" id="end_at" value=<%= end_at %> >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="camp_id"> camp_id:</label>
    <input type="text" name="camp_id" id="camp_id" value=<%= camp_id %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Events" />
  </div>

</form>

<a href="#/index">Back</a>