<h1>Listing counselors</h1>

<table id="counselors-table">
  <tr>
    <th>User</th>
    <th></th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Counselors</a>