<h1>Edit deal</h1>

<form id="edit-deal" name="deal">
  <div class="field">
    <label for="camp_id"> camp_id:</label>
    <input type="text" name="camp_id" id="camp_id" value="<%= camp_id %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Deals" />
  </div>

</form>

<a href="#/index">Back</a>