<h1>Listing deals</h1>

<table id="deals-table">
  <tr>
    <th>Camp</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Deals</a>