<div id="kids_header">
	<h4>Manage Your Children</h4>
	<a href="#/new" class="btn primary">Add a Child</a>
</div>
<br/>

<table id="kids-table">
  <tr>
    <th width="50%">Name</th>
    <th width="20%">Sex</th>
    <th width="20%">Born At</th>
    <th width="10%" style="text-align:center;" colspan="2">Actions</th>
  </tr>
</table>

<br />
<a href="/users/edit" class="btn"><h4 class="back">Back to Profile</h4></a>