<h1>Edit counselor</h1>

<form id="edit-counselor" name="counselor">
  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>

  <div class="field">
    <label for="approved"> approved:</label>
    <input type="text" name="approved" id="approved" value="<%= approved %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Counselors" />
  </div>

</form>

<a href="#/index">Back</a>
