<div class="container Director">
    <div class="row direc_Manage">
		<div class="nine columns account">
		   <h3> account type: <span>Basic</span></h3>
		</div>
		<div class="three columns cmp_view">
		    <a href="camps#/<%= camp_id %>/show">
				<img src="/assets/template/cmp_view.png" alt="COMP PAGE VIEW" />
			</a>
		</div>
		<div class="twelve columns authorize">
		<h2>Authorized Administrators for Camp 1: <b>Adminstrator one</b></h2><a href="#"><img src="/assets/template/addEdit.png" alt="Add / Edit" title="Add / Edit" /></a>
	    </div>
	</div>
	<div class="row direc_details">
		<div class="four columns contact">
		   <h4>Contact Information</h4>
		    <span><img src="/assets/template/edit.png" alt="Edit" title="Edit"/></span>
			<div class="clear"></div>
			<p>
				<b>Director:</b> Jonathan Jeffus <br />
				<b>Address:</b> Rocky Mount, MO, 65072 <br />
				<b>Phone:</b> (573) 392-1000 <br />
				<b>Web:</b> www.wonderlandcamp.org
			</p>
		</div>
		<div class="four columns billing">
		   <h4> Billing Information</h4>
		   <span><img src="/assets/template/edit.png" alt="Edit" title="Edit"/></span>
		   <div class="clear"></div>
			<p>
				<b>Credit Card or direct pay account<br /> number:</b> 1234-1234-1234
				<br /><br />
				<b>Address:</b> Rocky Mount, MO, 65072<br />
				<b>Phone:</b> (573) 392-1000
			</p>
		</div>
		<div class="four columns desc">
		   <h4> Description</h4>
		   <span><img src="/assets/template/edit.png" alt="Edit" title="Edit"/></span>
		   <div class="clear"></div>
			<p>
				Wonderland Camp provides a fun, educational camp experience for mentally and physically individuals, to offer a respite from daily care giving for family members and health care workers and to provide and nurture a personal development experience for volu
			</p>
		</div>
		<div class="clear"></div>
		<div class="row">
		<div class="twelve columns regist">
		   <h4> Registration Payments directed to</h4>
		   <span><img src="/assets/template/edit.png" alt="Edit" title="Edit"/></span>
		   <div class="clear"></div>
			<p>
				<b>Name:</b> Jonathan Jeffus<br />
				<b>Account Number:</b>
			</p>
		</div>
		</div>
	</div>
</div>

<div class="container activityTab">
    <div class="row">
		<h3>Session Details and Registrations</h3>
		<a href="#"><img src="/assets/template/edit.png" alt="Edit" title="Edit"/></a>
		<div class="clear"></div>
		<dl class="tabs location">
			<dd class="SimpleTab"><a href="#simple1" class="active">Location 1</a></dd>
			<dd class="SimpleTab"><a href="#simple2">Location 2</a></dd>
			<dd class="SimpleTab"><a href="#simple3">Location 3</a></dd>
		</dl>
		<ul class="tabs-content">
			<li class="active" id="simple1Tab">
				<dl class="tabs Lactivity">
					<dd class="SimpleTab"><a href="#simple4" class="active">Activity 1</a></dd>
					<dd class="SimpleTab"><a href="#simple5">Activity 2</a></dd>
					<dd class="SimpleTab"><a href="#simple6">Activity 3</a></dd>
				</dl>

				<ul class="tabs-content">
					<li class="active" id="simple4Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li class="TOtLast">Session 3 <b>></b> 0 registred </li>
							<li class="TOtReg"><h3><b>Activity 1</b> Total registred: 15 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
					<li id="simple5Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li class="TOtLast">Session 3 <b>></b> 0 registred </li>
							<li class="TOtReg"><h3><b>Activity 2</b> Total registred: 15 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
					<li id="simple6Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li class="TOtLast">Session 3 <b>></b> 0 registred </li>
							<li class="TOtReg"><h3><b>Activity 3</b> Total registred: 15 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
				</ul>
			    
			</li>
			<li id="simple2Tab">
				<dl class="tabs Lactivity">
					<dd class="SimpleTab"><a href="#simple7" class="active">Activity 1</a></dd>
					<dd class="SimpleTab"><a href="#simple8">Activity 2</a></dd>
					<dd class="SimpleTab"><a href="#simple9">Activity 3</a></dd>
				</dl>

				<ul class="tabs-content">
					<li class="active" id="simple7Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li class="TOtLast">Session 3 <b>></b> 0 registred </li>
							<li class="TOtReg"><h3><b>Activity 1</b> Total registred: 15 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
					<li id="simple8Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li>Session 3 <b>></b> 0 registred </li>
							<li class="TOtLast">Session 4 <b>></b> 8 registred </li>
							<li class="TOtReg"><h3><b>Activity 2</b> Total registred: 23 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
					<li id="simple9Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li class="TOtLast">Session 3 <b>></b> 0 registred </li>
							<li class="TOtReg"><h3><b>Activity 3</b> Total registred: 15 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
				</ul>
			</li>
			<li id="simple3Tab">
				<dl class="tabs Lactivity">
					<dd class="SimpleTab"><a href="#simple10" class="active">Activity 1</a></dd>
					<dd class="SimpleTab"><a href="#simple11">Activity 2</a></dd>
					<dd class="SimpleTab"><a href="#simple12">Activity 3</a></dd>
				</dl>

				<ul class="tabs-content">
					<li class="active" id="simple10Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li class="TOtLast">Session 3 <b>></b> 0 registred </li>
							<li class="TOtReg"><h3><b>Activity 1</b> Total registred: 15 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
					<li id="simple11Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li class="TOtLast">Session 3 <b>></b> 0 registred </li>
							<li class="TOtReg"><h3><b>Activity 2</b> Total registred: 15 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
					<li id="simple12Tab">
						<ul id="Session">
							<li>Session 1 <b>></b> 10 registred </li>
							<li>Session 2 <b>></b> 5 registred </li>
							<li class="TOtLast">Session 3 <b>></b> 0 registred </li>
							<li class="TOtReg"><h3><b>Activity 3</b> Total registred: 15 <h3><a href="#"><img src="/assets/template/views_regist.png" alt="Views Registarted" title="" /></a></li>
						</ul>	
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="container perfomance">
    <div class="row">
      <div class="twelve columns perfomanceTit">
  	    <h2>Perfomance</h2>
  	</div>
  	<div class="row columns">
	   
  	</div>
  </div>
</div>


<!--<a href="#/index">Back</a>-->
