- if @user && @user.errors.any?
  $('#dialog-form').html('#{escape_javascript(render('changepassword'))}');
- else
  $('#dialog-form').dialog('close');
  $('#dialog-form').fadeOut().remove();
  showPassUpdateMsg();