.main.container 
  .row.busy-mom
    .comingsoon
      %span
        %h1 Coming Soon....
      %br
        %br
          %span.colorgry We are currently working on this awesome feature.
          %br
            %span If you have questions or suggestions, please contact us at
            %br
              %br
                %span
                  %b
                    Email
                    %a{:href => "mailto:info@kidnimble.com"} info@kidnimble.com