- if @errors && @errors.any?
  $('#create_event_dialog').html('#{escape_javascript(render('edit_form'))}');
- else
  $('#calendar').fullCalendar('refetchEvents');
  $('#create_event_dialog').dialog('destroy');
  showEventUpdateMsg();
$('#loading').hide();