<h1>Listing wishes</h1>

<table id="wishes-table">
  <tr>
    <th>Buyable</th>
    <th>Buyable type</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Wishes</a>