%p Hey #{@camp.title}!

%p Your program was reviewed on KidNimble, a new online site aimed at making it easier for parents to find the best programs for their kids.

%p Please take a look and let us know what you think:

%p #{@review.url}

%p We will continue to let you know whenever we get feedback on your programs. In the meantime, we'd love to talk to you about the other ways we can help you reach more parents more effectively.

%p I look forward to hearing from you,

%p 
  Darius
  %br
  CEO, KidNimble, Inc.
  %br
  darius@kidnimble.com

