.container.main_error_500
  .row.cow
    .four.columns.error_500
      %h1 500
    .five.columns.error_500_desc
      %h1
        Flying Cows?
      %span
        %strong
          An unexpected error seems to have occurred.
        %br/ 
        Why not try refreshing your page? Or you can
        %br/ 
        contact us if the problem persists. 