%h3 Thanks very much for your order!

%p You have signed up for the following sessions:

= @event.name

%p At the following camp:

= @event.camp.title

%p
  To contact us about your order, please  send us an email or chat with us about it now.
  Otherwise, have fun and don't forget to come back and tell us how it was!

%p The KidNimble Team

%p Find out about more kids programs with KidNimble Updates! 
%p With KidNimble Updates, you'll receive customized notifications about kids programs by geography or activity and much more! 
%p Learn more or sign up to start receiving your customized Updates now!

