// Active Admin CSS Styles
@import "active_admin/_mixins";
@import "active_admin/_base";
@import "active_admin_jquery_ui";
@import "jquery-ui";

/* css for timepicker */
#ui-datepicker-div{display:none;}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-datepicker table.ui-datepicker-calendar{
  width:213px !important;
}
.ui-datepicker .ui-datepicker-header {
    background: url("/assets/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
    border: 1px solid #E78F08;
    color: #FFFFFF;
    font-weight: bold;
    height:16px;
}

form fieldset ol > div.has_many{
  padding: 10px;
  margin:0;
}

label.error {
    width:77%;
    font: normal 10px;
    padding: 3px;
    margin: 3px 3px 10px 20%;
}
.error {
    background-color: #ffc;
    border: 1px solid #c00;
}
.pagination{
  width:100%;
  margin:0 0 5px 0;
}
.pagination ul{
  margin:0px;
}
.pagination  li{
  display:inline;
}
.pagination a, .pagination li.page.active{
  padding: 3px 6px;
  margin:0 0 0 3px;
}

// To customize the Active Admin interfaces, add your
// styles here:
