// Active Admin CSS Styles
@import "active_admin/_mixins";
@import "active_admin/_base";
@import "active_admin_jquery_ui";

#ui-datepicker-div {
  background-color: #eee;
}
.ui-datepicker-header {
  background-color: #bbb;
}
.ui-datepicker {
  background-color: #bbb;
}
// To customize the Active Admin interfaces, add your
// styles here:
