@font-face
  font-family: 'Museo700'
  src: font-url('museo700-regular-webfont.eot')
  src: local('Museo700'), font-url('museo700-regular-webfont.eot?#iefix') format('embedded-opentype'), font-url('museo700-regular-webfont.woff') format('woff'), font-url('museo700-regular-webfont.ttf') format('truetype'), font-url('museo700-regular-webfont.svg#Museo700') format('svg')
  font-weight: normal
  font-style: normal

  font-family: 'HelveticaNeue57Condensed'
  src: font-url('helveticaneue-condensed-webfont.eot')
  src: local('HelveticaNeue57Condensed'), font-url('helveticaneue-condensed-webfont.eot?#iefix') format('embedded-opentype'), font-url('helveticaneue-condensed-webfont.woff') format('woff'), font-url('helveticaneue-condensed-webfont.ttf') format('truetype'), font-url('helveticaneue-condensed-webfont.svg#HelveticaNeue57Condensed') format('svg')
  font-weight: normal
  font-style: normal