<h3 id="searchtitle"><%= search_title %></h3>

<ul id="camps-table">
	<li class='heading'>
		<div class="row">
			<div class="seven columns title"><h5>Camp Title</h5></div>
			<div class="three columns rating"><h5>Rating</h5></div>
			<div class="two columns distance"><h5>Distance</h5></div>
		</div>
	</li>
</ul>

<!--
<br/>
<a href="#/new">New Camp</a>
-->