<h1>New wish</h1>

<form id="new-wish" name="wish">
  <div class="field">
    <label for="buyable_id"> buyable_id:</label>
    <input type="text" name="buyable_id" id="buyable_id" value="<%= buyable_id %>" >
  </div>

  <div class="field">
    <label for="buyable_type"> buyable_type:</label>
    <input type="text" name="buyable_type" id="buyable_type" value="<%= buyable_type %>" >
  </div>

  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Wishes" />
  </div>

</form>

<a href="#/index">Back</a>